.container {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}
.container img {
  width: 50%;
}
.hide {
  display: none;
}
.error {
  color: red;
  font-size: 0.8em;
}
.error::before {
  content: '*';
}